<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>5000</particles>
  <batches>1000</batches>
  <inactive>200</inactive>
  <source strength="1.0">
    <space type="fission">
      <parameters>-30 -30 -30 30 30 30</parameters>
    </space>
  </source>
</settings>
